body {
    background-image: url("../images/fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.logo {
    img {
        margin: 5vh 0 0 5vh;
        height: 10vh;
    }
}

form {
    margin: 20vh 0 0 10vh;
    fieldset {
        border: none;
        display: flex;
        flex-direction: column;
        width: 30vw;
        input {
            padding: 1.1em;
            border: none;
            border-radius: 15px;
            margin: 0.5vh 0 5vh 0;
        }
    }
    a {
        border-radius: 20px;
        color: white;
        background-color: #02638F;
        padding: 1vh 3vw;
    }
}