/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Configurações base */
a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    th {
        background-color: #d9eef7;
        text-align: left;
    }
    
    tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}
